<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>

  <body>
    <div class="main-content">

    {{>header}}
    <p>This site was created by Henrique Pereira. It uses data from mapbox.com and weatherstack</p>
    <img class='portrait' src="/img/graduation.png" />
    </div>
    {{>footer}}
  </body>
</html>
